<button class="backButton" (click)="goToLogin()"> Login </button>
<button class="backButton" (click)="cancelButton()"> Home </button>

<form [formGroup] = "signUpForm" style="border:1px solid #ccc">
    <div class="container">
      <h1>Sign Up</h1>
      <h3>Please fill in this form to create an Author account.</h3>
      <hr>
  
      <label for="email"><b>Email:</b></label>
      <input formControlName="username" type="text" placeholder="Enter Email" name="email" required><br/>
  
      <label for="psw"><b>Password:</b></label>
      <input formControlName="password" type="text" placeholder="Enter Password" name="psw" required><br/>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn" (click)="cancelButton()">Cancel</button>
        <button [disabled]="signUpForm.invalid" type="submit" (click)="doSignUp()">Sign Up</button>
      </div>
    </div>
  </form>   